<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>demoMonkey</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string></string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/xml</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>XML</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>DemoMonkey</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.DemoMonkey</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.6.0</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string>.</string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>DemoMonkey/Get Next Line</string>
			</dict>
			<key>NSMessage</key>
			<string>getNextLine</string>
			<key>NSPortName</key>
			<string>DemoMonkey</string>
			<key>NSReturnTypes</key>
			<array>
				<string>public.plain-text</string>
			</array>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string>[</string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>DemoMonkey/Rewind to Beginning of File</string>
			</dict>
			<key>NSMessage</key>
			<string>rewind</string>
			<key>NSPortName</key>
			<string>DemoMonkey</string>
			<key>NSReturnTypes</key>
			<array>
				<string>public.plain-text</string>
			</array>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string>&lt;</string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>DemoMonkey/Move Back A Line</string>
			</dict>
			<key>NSMessage</key>
			<string>moveUpOneLine</string>
			<key>NSPortName</key>
			<string>DemoMonkey</string>
			<key>NSReturnTypes</key>
			<array>
				<string>public.plain-text</string>
			</array>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string>&gt;</string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>DemoMonkey/Skip Next Line</string>
			</dict>
			<key>NSMessage</key>
			<string>moveDownOneLine</string>
			<key>NSPortName</key>
			<string>DemoMonkey</string>
			<key>NSReturnTypes</key>
			<array>
				<string>public.plain-text</string>
			</array>
		</dict>
		<dict>
			<key>NSSendTypes</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string>}</string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>DemoMonkey/Create New Step</string>
			</dict>
			<key>NSMessage</key>
			<string>createNewStep</string>
			<key>NSPortName</key>
			<string>DemoMonkey</string>
		</dict>
	</array>
</dict>
</plist>
